Q1. What are data structures, and why are they important

Ans.1 The data strcutur are use for the organisng the data into structure form so that we can access them essaly

Q2.  Explain the difference between mutable and immutable data types with examples

Ans.2 mutable and immutbale are data type where you can change the data type after run them and immutable are data type were we can not change the data type

Q3. What are the main differences between lists and tuples in Python

Ans. 3 The different between the lists and tuples are to deffine the list we have to use the [] and for the tuple we have to use the () and list are mutable and tuple are immutable.

Q4. Describe how dictionaries store data

Ans 4. Dictionaries store the data into key value pair in the differnt string and variable

Q5. Why might you use a set instead of a list in Python?

Ans.5 We often use the set instead of list because of the sets have uniqure propertary that sets automaticly not take the duplicate value where as lists take

Q6. What is a string in Python, and how is it different from a list?

Ans6. strings is a seqance of character that represnt and mainpulate data
list donot have the unique value where as strings has and strings are used in the list

Q7. How do tuples ensure data integrity in Python?

Ans 07. In Python, tuples help ensure data integrity because they are immutable, meaning once they are created, their values cannot be changed.

Q8. What is a hash table, and how does it relate to dictionaries in Python?

Ans 8. A hash table is a data structure that stores data in an associative manner. It maps keys to values using a hash function, which computes an index (or hash) where the value associated with the key is stored.

Q9.  Can lists contain different data types in Python?

Ans. 09 Yes, list can contain the differnt type of the data types

Q10. Explain why strings are immutable in Python?

Ans. 10 In Python, strings are immutable because this design choice has several important benefits related to efficiency, safety, and ease of use

Q 11. What advantages do dictionaries offer over lists for certain tasks?

Ans. 11 Dictionaries in Python offer several key advantages over lists for certain tasks, particularly when dealing with associative data, fast lookups, and managing key-value pairs

Q12. Describe a scenario where using a tuple would be preferable over a list?

Ans. 12 lets take the example of the  office empolye data where you want to store the data of the current empolye and if you use the list they are mutable and they can easly manuplited for this we will use the tuple

Q13. How do sets handle duplicate values in Python?

Ans. 13 the sets use the duplicate value very easly and it dont take the previous value if you have written in the same pair and sets certanly use only one varible for the same.

Q14. How does the “in” keyword work differently for lists and dictionaries?

Ans. 14 in keyword use in that way he gets the into variable which we have assigne to in keyword

Q15.  Can you modify the elements of a tuple? Explain why or why not?

Ans 15. No, we can not change the elements of the tuple because they are immutbale and they have fix elements in it.

Q16. What is a nested dictionary, and give an example of its use case?

Ans. 16 A nested dictionary in Python is a dictionary where the value associated with a key can itself be another dictionary. This allows you to create complex, hierarchical data structures. Nested dictionaries are useful when you need to represent data with multiple levels of relationships or categories

Q 17.  Describe the time complexity of accessing elements in a dictionary?

Ans. 17 The time complexity of accessing elements in a Python dictionary is generally O(1), also known as constant time. This means that the time required to access an element in a dictionary does not depend on the number of elements in the dictionary.
The time complexity of accessing elements in a Python dictionary is generally O(1), also known as constant time. This means that the time required to access an element in a dictionary does not depend on the number of elements in the dictionary.

Q18.  In what situations are lists preferred over dictionaries?

Ans. 18 the lists are stred in a line where as dictionaries are stroed in key value pair so if you want to have mix of data type then you have to use the list because in dictionaries there are only few data type allow.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval.

Ans. 19 In Python, dictionaries are considered unordered data structures, meaning that the items stored in a dictionary do not have a fixed order. This is in contrast to lists or tuples, which maintain the order of elements based on their insertion sequence. However, it's important to understand why dictionaries are unordered and how this affects data retrieva.

Q20. Explain the difference between a list and a dictionary in terms of data retrieva

Ans.20 A list in Python is an ordered collection accessed by index (e.g., my_list[0]), making it ideal for positional data. In contrast, a dictionary is an unordered collection accessed by key (e.g., my_dict['key']), making it perfect for storing key-value pairs where fast lookups by key are required. Both have average O(1) time complexity for data retrieval, but they serve different purpose

Practical Question

Q1. Write a code to create a string with your name and print it?

In [ ]:
name = "kartik sharma "# This is the string stored in the variable name

Q2. P Write a code to find the length of the string "Hello World"?

In [1]:
print(len("Hello World"))# printing the lenght of the hello world

11

Q3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [2]:
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

Q4. Write a code to convert the string "hello" to uppercase?

In [ ]:
"hell0"
string = "hello"
string.upper()# is this h will automaticly will be uper case

In [5]:
#Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
string = "I like apple"
string = string[:7] + "orange"
print(string)

I like orange

In [6]:
#Q 06 Write a code to create a list with numbers 1 to 5 and print it?
my_bag = [1, 2, 3,4]
type(my_bag)

list

In [7]:
print(my_bag)

[1, 2, 3, 4]

In [9]:
#Q 07 Write a code to append the number 10 to the list [1, 2, 3, 4]?
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [10]:
#Q 08 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [11]:
#Q 09 Write a code to access the second element in the list ['a', 'b', 'c', 'd']P
my_list = ['a', 'b', 'c', 'd']
my_list[1]

'b'

In [12]:
#Q 10 P Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [13]:
#Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
kartik = (100, 200, 300)
print(kartik)

(100, 200, 300)

In [14]:
#Q 12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')
my_tuple[-2]

'blue'

In [15]:
#Q 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
my_tuple = (10, 20, 5, 15)
min(my_tuple)

5

In [16]:
#Q14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
Kartik = ('dog', 'cat', 'rabbit')
Kartik.index("cat")

1

In [17]:
#Q15. . Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruit_bag = ( "kiwi", "orange", "apple")
if "kiwi" in fruit_bag:
    print("yes")
else:
    print("no")

yes

In [2]:
#Q16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it
my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

In [4]:
# Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [9]:
#Q 18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}?
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [10]:
#Q19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.?
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Using the union() method
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [11]:
#Q 20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Using the intersection() method
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [12]:
# Q 21  Write a code to create a dictionary with the keys "name", "age", and "city", and print it
my_details= { "name": "kartik", "age": 21, "city": "jodhpur"}

In [1]:
#Q 22  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_data= {'name': 'John', 'age': 25}
my_data["country"] = "USA"
print(my_data)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [9]:
#Q 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
my_details = {"name":"alice", "age":30}
my_details["name"]

'alice'

In [10]:
# Q 24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
detail_bag= {'name': 'Bob', 'age': 22, 'city': 'New York'}
detail_bag.pop("age")
print(detail_bag)

{'name': 'Bob', 'city': 'New York'}

In [11]:
# Q25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
detail_bag= {'name': 'Alice', 'city': 'Paris'}
if "city" in detail_bag:
    print("yes")
else:
    print("no")

yes

In [15]:
#Q 26  Write a code to create a list, a tuple, and a dictionary, and print them all.
detail_office= {'name': 'Alice', 'city': 'Paris'}
detail= ['name','Alice', 'city','Paris']
detail_bag= ('name', 'Alice', 'city', 'Paris')
print(detail_bag)
print(detail)
print(detail_office)

('name', 'Alice', 'city', 'Paris')
['name', 'Alice', 'city', 'Paris']
{'name': 'Alice', 'city': 'Paris'}

In [16]:
# Q27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced)
import random
random_list = [random.randint(1, 100) for _ in range(5)]
random_list.sort()
print(random_list)

[13, 20, 47, 60, 89]

In [17]:
# Q 28 Write a code to create a list with strings and print the element at the third index
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(my_list[2])

cherry

In [18]:
# 29.  Write a code to combine two dictionaries into one and print the result
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [19]:
# Q 30 Write a code to convert a list of strings into a set
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
my_set = set(my_list)
print(my_set)

{'apple', 'cherry', 'elderberry', 'banana', 'date'}